<div class="p-5 bg-light rounded-3">
    <h1>Демо конструктора PDF-документов</h1>
    <p>Зарегистрируйтесь и создайте документ через мастер из 3 шагов.</p>
    <a class="btn btn-primary btn-lg" asp-controller="DocumentWizard" asp-action="Step1">Создать документ</a>
</div>
